:root {
  --dark-color: #1e202c;
  --light-color: #d5d5e0;
  --accent-light-1-color: #f6caca;
  --accent-light-2-color: #cd9fcc;
  --accent-dark-1-color: #6770d6;
  --accent-dark-2-color: #66529e;
  --accent-new: #60519b;
  --accent-new-2: #e28463;
  --dark-variation: #464755;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}



html{
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

body{
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

.dark-bg {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.dark-accent-1-bg {
  background-color: var(--dark-variation);
  color: var(--light-color);
}

.dark-accent-2-bg {
  background-color: var(--accent-dark-2-color);
  color: var(--light-color);
}

.light-bg {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.light-accent-1-bg {
  background-color: var(--accent-light-1-color);
  color: var(--dark-color);
}

.light-accent-2-bg {
  background-color: var(--accent-light-2-color);
  color: var(--dark-color);
}

.dark-bg-hover {
  --tw-ease: var(--ease-out);
  --tw-duration: 300ms;
  transition-timing-function: var(--ease-out);
  transition-duration: 300ms;
  transition-property: background-color, color;
}

.dark-bg-hover:hover {
  background-color: var(--accent-new);
}

.light-bg-hover {
  --tw-ease: var(--ease-out);
  --tw-duration: 300ms;
  transition-timing-function: var(--ease-out);
  transition-duration: 300ms;
  transition-property: background-color, color;
}

.light-bg-hover:hover {
  background-color: var(--accent-light-1-color);
}

.color-accent-1 {
  color: var(--accent-light-1-color);
}
.color-accent-2 {
  color: var(--accent-light-2-color);
}
.color-accent-3 {
  color: var(--accent-dark-1-color);
}
.color-accent-4 {
  color: var(--accent-dark-2-color);
}

.color-accent-new {
  color: var(--accent-new);
}
.color-accent-new-2 {
  color: var(--accent-new-2);
}




.floating-image {
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); /* easeOutBack */
}

.floating-image:hover {
  transform: scale(1.1);
}